<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.o</key>
	<array>
		<string>o</string>
		<string>o.alt</string>
	</array>
	<key>public.kern2.A.alt</key>
	<array>
		<string>W.alt</string>
		<string>A.alt</string>
	</array>
	<key>public.kern2.A.ss02</key>
	<array>
		<string>T.alt</string>
		<string>seven.alt</string>
		<string>A.ss02</string>
	</array>
	<key>public.kern2.B.alt</key>
	<array>
		<string>P</string>
		<string>Y.alt</string>
		<string>B.alt</string>
		<string>W.ss03</string>
		<string>W.ss02</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>eight</string>
		<string>C</string>
		<string>bar</string>
		<string>M.alt</string>
		<string>G.ss02</string>
		<string>C.alt</string>
		<string>bar.alt</string>
		<string>e.alt</string>
		<string>e.ss04</string>
		<string>C.ss02</string>
		<string>six.alt</string>
	</array>
	<key>public.kern2.D</key>
	<array>
		<string>parenright</string>
		<string>D</string>
	</array>
	<key>public.kern2.E</key>
	<array>
		<string>E</string>
		<string>dinsular</string>
		<string>S.ss05</string>
	</array>
	<key>public.kern2.E.alt</key>
	<array>
		<string>E.alt</string>
		<string>five.alt</string>
	</array>
	<key>public.kern2.E.ss02</key>
	<array>
		<string>parenleft</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>Q.ss02</string>
		<string>E.ss02</string>
		<string>u.alt</string>
		<string>two.alt</string>
		<string>nine.alt</string>
	</array>
	<key>public.kern2.G</key>
	<array>
		<string>G</string>
		<string>f</string>
		<string>longs_longs_i</string>
		<string>zero.alt</string>
		<string>eight.alt</string>
	</array>
	<key>public.kern2.G.alt</key>
	<array>
		<string>two</string>
		<string>nine</string>
		<string>Q</string>
		<string>rrotunda</string>
		<string>Qsplash</string>
		<string>z.alt</string>
		<string>Q.alt</string>
		<string>G.alt</string>
		<string>O.alt</string>
		<string>Q.ss04</string>
		<string>Q.ss05</string>
		<string>d.alt</string>
	</array>
	<key>public.kern2.K</key>
	<array>
		<string>V.ss03</string>
	</array>
	<key>public.kern2.K.alt</key>
	<array>
		<string>glyph85</string>
		<string>K.alt</string>
		<string>Y.ss02</string>
		<string>K.ss05</string>
	</array>
	<key>public.kern2.K.ss02</key>
	<array>
		<string>R.ss02</string>
		<string>K.ss04</string>
		<string>K.ss02</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>slash</string>
		<string>N.alt</string>
		<string>M.ss03</string>
		<string>S.ss04</string>
	</array>
	<key>public.kern2.M.ss02</key>
	<array>
		<string>percent</string>
		<string>colon</string>
		<string>p_e</string>
		<string>M.ss02</string>
		<string>i.ss02</string>
	</array>
	<key>public.kern2.N.ss02</key>
	<array>
		<string>P.alt</string>
		<string>N.ss02</string>
		<string>N.ss03</string>
		<string>W.ss04</string>
	</array>
	<key>public.kern2.N.ss04</key>
	<array>
		<string>N.ss04</string>
		<string>N.ss05</string>
	</array>
	<key>public.kern2.NameMe.65550</key>
	<array>
		<string>h</string>
		<string>NameMe.65550</string>
		<string>NameMe.65551</string>
		<string>h.alt</string>
		<string>one.alt</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>O</string>
		<string>S</string>
		<string>t.ss02</string>
	</array>
	<key>public.kern2.P.ss02</key>
	<array>
		<string>R.alt</string>
		<string>P.ss02</string>
	</array>
	<key>public.kern2.Q.ss03</key>
	<array>
		<string>longs_t</string>
		<string>longs_t_o</string>
		<string>Q.ss03</string>
		<string>f_r</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U.alt</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V.alt</string>
	</array>
	<key>public.kern2.Y.ss03</key>
	<array>
		<string>v.ss02</string>
		<string>Y.ss04</string>
		<string>Y.ss03</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>question.ss02</string>
	</array>
	<key>public.kern2.a.alt</key>
	<array>
		<string>numbersign</string>
		<string>ampersand</string>
		<string>six</string>
		<string>glyph237</string>
		<string>d</string>
		<string>g</string>
		<string>s</string>
		<string>et</string>
		<string>a.alt</string>
		<string>s.alt</string>
		<string>s.ss02</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>five</string>
		<string>question</string>
		<string>at</string>
		<string>p</string>
		<string>p_p</string>
		<string>i.alt</string>
		<string>t_h</string>
		<string>p.alt</string>
		<string>t_r</string>
		<string>question.alt</string>
	</array>
	<key>public.kern2.b</key>
	<array>
		<string>b</string>
		<string>k</string>
		<string>l</string>
		<string>b_b</string>
		<string>k.alt</string>
	</array>
	<key>public.kern2.b.ss03</key>
	<array>
		<string>bracketleft</string>
		<string>b.ss03</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>c</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>unie8bf</string>
		<string>o.alt</string>
		<string>c.alt</string>
		<string>c.ss02</string>
		<string>g.alt</string>
		<string>q.alt</string>
		<string>c_o</string>
	</array>
	<key>public.kern2.c_e</key>
	<array>
		<string>hyphen</string>
		<string>zero</string>
		<string>equal</string>
		<string>s.fina</string>
		<string>g_g</string>
		<string>e.ss03</string>
		<string>c_e</string>
		<string>g.ss02</string>
	</array>
	<key>public.kern2.exclam</key>
	<array>
		<string>exclam</string>
		<string>plus</string>
	</array>
	<key>public.kern2.f.alt</key>
	<array>
		<string>longs_longs</string>
		<string>f_l</string>
		<string>f.alt</string>
		<string>parenleft.alt</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
		<string>unif1a6</string>
	</array>
	<key>public.kern2.h.final</key>
	<array>
		<string>h.final</string>
		<string>l.alt</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>one</string>
		<string>i</string>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>t</string>
		<string>u</string>
		<string>t_i</string>
		<string>t.alt</string>
		<string>m.ss03</string>
		<string>u.ss03</string>
		<string>n.ss03</string>
		<string>m.alt</string>
		<string>n.alt</string>
		<string>r.alt</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>w</string>
	</array>
	<key>public.kern2.m.fina</key>
	<array>
		<string>three</string>
		<string>rrumrotunda</string>
		<string>yinit</string>
		<string>m.fina</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w.alt</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
		<string>x.alt</string>
	</array>
</dict>
</plist>
