<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F.alt</key>
	<dict>
		<key>i</key>
		<integer>-70</integer>
	</dict>
	<key>a.alt</key>
	<dict>
		<key>m</key>
		<integer>40</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
	</dict>
	<key>b.alt</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>c</key>
		<integer>-110</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>A.ss03</key>
		<integer>-76</integer>
		<key>Dinsular</key>
		<integer>-14</integer>
		<key>F</key>
		<integer>-105</integer>
		<key>F.alt</key>
		<integer>-82</integer>
		<key>K.ss03</key>
		<integer>-9</integer>
		<key>R</key>
		<integer>-34</integer>
		<key>S.alt</key>
		<integer>-51</integer>
		<key>S.ss02</key>
		<integer>-96</integer>
		<key>U.ss02</key>
		<integer>-147</integer>
		<key>Z.ss02</key>
		<integer>-41</integer>
		<key>asciicircum</key>
		<integer>-71</integer>
		<key>b.alt</key>
		<integer>-42</integer>
		<key>e.ss02</key>
		<integer>-86</integer>
		<key>four.alt</key>
		<integer>-188</integer>
		<key>greater</key>
		<integer>-88</integer>
		<key>i</key>
		<integer>-100</integer>
		<key>less</key>
		<integer>-178</integer>
		<key>longs</key>
		<integer>-67</integer>
		<key>numero</key>
		<integer>-58</integer>
		<key>public.kern2.C</key>
		<integer>-103</integer>
		<key>public.kern2.E</key>
		<integer>-112</integer>
		<key>public.kern2.E.alt</key>
		<integer>-4</integer>
		<key>public.kern2.E.ss02</key>
		<integer>-62</integer>
		<key>public.kern2.G</key>
		<integer>-80</integer>
		<key>public.kern2.G.alt</key>
		<integer>-110</integer>
		<key>public.kern2.M</key>
		<integer>-125</integer>
		<key>public.kern2.M.ss02</key>
		<integer>-75</integer>
		<key>public.kern2.O</key>
		<integer>-90</integer>
		<key>public.kern2.P.ss02</key>
		<integer>-41</integer>
		<key>public.kern2.Q.ss03</key>
		<integer>-40</integer>
		<key>public.kern2.Y.ss03</key>
		<integer>-24</integer>
		<key>public.kern2.a</key>
		<integer>-129</integer>
		<key>public.kern2.a.alt</key>
		<integer>-124</integer>
		<key>public.kern2.at</key>
		<integer>-85</integer>
		<key>public.kern2.c</key>
		<integer>-107</integer>
		<key>public.kern2.c_e</key>
		<integer>-99</integer>
		<key>public.kern2.exclam</key>
		<integer>-220</integer>
		<key>public.kern2.f.alt</key>
		<integer>-49</integer>
		<key>public.kern2.four</key>
		<integer>-156</integer>
		<key>public.kern2.h.final</key>
		<integer>-31</integer>
		<key>public.kern2.i</key>
		<integer>-57</integer>
		<key>public.kern2.j</key>
		<integer>-82</integer>
		<key>public.kern2.m.fina</key>
		<integer>-118</integer>
		<key>public.kern2.v</key>
		<integer>-112</integer>
		<key>public.kern2.x</key>
		<integer>-108</integer>
		<key>semicolon</key>
		<integer>-64</integer>
		<key>seven</key>
		<integer>-128</integer>
		<key>three.alt</key>
		<integer>-41</integer>
		<key>y</key>
		<integer>-101</integer>
		<key>z</key>
		<integer>-127</integer>
	</dict>
	<key>f.alt</key>
	<dict>
		<key>A.ss03</key>
		<integer>-60</integer>
		<key>Dinsular</key>
		<integer>-36</integer>
		<key>F</key>
		<integer>-98</integer>
		<key>F.alt</key>
		<integer>-81</integer>
		<key>K.ss03</key>
		<integer>-9</integer>
		<key>R</key>
		<integer>-44</integer>
		<key>S.alt</key>
		<integer>-38</integer>
		<key>S.ss02</key>
		<integer>-86</integer>
		<key>U.ss02</key>
		<integer>-117</integer>
		<key>Z.alt</key>
		<integer>-47</integer>
		<key>asciicircum</key>
		<integer>-65</integer>
		<key>b.alt</key>
		<integer>-24</integer>
		<key>e.ss02</key>
		<integer>-75</integer>
		<key>four.alt</key>
		<integer>-185</integer>
		<key>greater</key>
		<integer>-50</integer>
		<key>less</key>
		<integer>-168</integer>
		<key>longs</key>
		<integer>-59</integer>
		<key>numero</key>
		<integer>-66</integer>
		<key>public.kern2.C</key>
		<integer>-89</integer>
		<key>public.kern2.E</key>
		<integer>-98</integer>
		<key>public.kern2.E.alt</key>
		<integer>-17</integer>
		<key>public.kern2.E.ss02</key>
		<integer>-47</integer>
		<key>public.kern2.G</key>
		<integer>-69</integer>
		<key>public.kern2.G.alt</key>
		<integer>-97</integer>
		<key>public.kern2.M</key>
		<integer>-118</integer>
		<key>public.kern2.M.ss02</key>
		<integer>-55</integer>
		<key>public.kern2.N.ss04</key>
		<integer>-15</integer>
		<key>public.kern2.NameMe.65550</key>
		<integer>-3</integer>
		<key>public.kern2.O</key>
		<integer>-76</integer>
		<key>public.kern2.P.ss02</key>
		<integer>-96</integer>
		<key>public.kern2.Q.ss03</key>
		<integer>-33</integer>
		<key>public.kern2.U</key>
		<integer>-35</integer>
		<key>public.kern2.Y.ss03</key>
		<integer>-53</integer>
		<key>public.kern2.a</key>
		<integer>-117</integer>
		<key>public.kern2.a.alt</key>
		<integer>-114</integer>
		<key>public.kern2.at</key>
		<integer>-65</integer>
		<key>public.kern2.c</key>
		<integer>-98</integer>
		<key>public.kern2.c_e</key>
		<integer>-90</integer>
		<key>public.kern2.exclam</key>
		<integer>-209</integer>
		<key>public.kern2.f.alt</key>
		<integer>-48</integer>
		<key>public.kern2.four</key>
		<integer>-144</integer>
		<key>public.kern2.h.final</key>
		<integer>-27</integer>
		<key>public.kern2.i</key>
		<integer>-34</integer>
		<key>public.kern2.j</key>
		<integer>-67</integer>
		<key>public.kern2.m.fina</key>
		<integer>-98</integer>
		<key>public.kern2.v</key>
		<integer>-89</integer>
		<key>public.kern2.x</key>
		<integer>-94</integer>
		<key>semicolon</key>
		<integer>-36</integer>
		<key>seven</key>
		<integer>-82</integer>
		<key>three.alt</key>
		<integer>-60</integer>
		<key>y</key>
		<integer>-89</integer>
		<key>z</key>
		<integer>-109</integer>
	</dict>
	<key>f_f</key>
	<dict>
		<key>A.ss03</key>
		<integer>-168</integer>
		<key>F</key>
		<integer>-95</integer>
		<key>F.alt</key>
		<integer>-57</integer>
		<key>R</key>
		<integer>-42</integer>
		<key>S.alt</key>
		<integer>-3</integer>
		<key>S.ss02</key>
		<integer>-64</integer>
		<key>U.ss02</key>
		<integer>-123</integer>
		<key>Z.ss02</key>
		<integer>-48</integer>
		<key>asciicircum</key>
		<integer>-64</integer>
		<key>bracketright</key>
		<integer>-36</integer>
		<key>e.ss02</key>
		<integer>-90</integer>
		<key>four.alt</key>
		<integer>-174</integer>
		<key>greater</key>
		<integer>-77</integer>
		<key>less</key>
		<integer>-195</integer>
		<key>longs</key>
		<integer>-30</integer>
		<key>numero</key>
		<integer>-28</integer>
		<key>parenright.alt</key>
		<integer>-38</integer>
		<key>public.kern2.A.alt</key>
		<integer>-58</integer>
		<key>public.kern2.C</key>
		<integer>-99</integer>
		<key>public.kern2.E</key>
		<integer>-96</integer>
		<key>public.kern2.E.ss02</key>
		<integer>-28</integer>
		<key>public.kern2.G</key>
		<integer>-49</integer>
		<key>public.kern2.G.alt</key>
		<integer>-106</integer>
		<key>public.kern2.M</key>
		<integer>-116</integer>
		<key>public.kern2.M.ss02</key>
		<integer>-59</integer>
		<key>public.kern2.O</key>
		<integer>-75</integer>
		<key>public.kern2.a</key>
		<integer>-129</integer>
		<key>public.kern2.a.alt</key>
		<integer>-132</integer>
		<key>public.kern2.at</key>
		<integer>-77</integer>
		<key>public.kern2.c</key>
		<integer>-119</integer>
		<key>public.kern2.c_e</key>
		<integer>-111</integer>
		<key>public.kern2.exclam</key>
		<integer>-233</integer>
		<key>public.kern2.four</key>
		<integer>-159</integer>
		<key>public.kern2.i</key>
		<integer>-46</integer>
		<key>public.kern2.j</key>
		<integer>-89</integer>
		<key>public.kern2.m.fina</key>
		<integer>-114</integer>
		<key>public.kern2.v</key>
		<integer>-94</integer>
		<key>public.kern2.x</key>
		<integer>-107</integer>
		<key>semicolon</key>
		<integer>-55</integer>
		<key>seven</key>
		<integer>-126</integer>
		<key>three.alt</key>
		<integer>-61</integer>
		<key>y</key>
		<integer>-102</integer>
		<key>z</key>
		<integer>-113</integer>
	</dict>
	<key>g_g</key>
	<dict>
		<key>g_g</key>
		<integer>-50</integer>
	</dict>
	<key>longs</key>
	<dict>
		<key>A.ss03</key>
		<integer>-84</integer>
		<key>Dinsular</key>
		<integer>-44</integer>
		<key>F</key>
		<integer>-153</integer>
		<key>F.alt</key>
		<integer>-117</integer>
		<key>K.ss03</key>
		<integer>-56</integer>
		<key>R</key>
		<integer>-41</integer>
		<key>S.alt</key>
		<integer>-101</integer>
		<key>S.ss02</key>
		<integer>-146</integer>
		<key>U.ss02</key>
		<integer>-258</integer>
		<key>V.ss02</key>
		<integer>-7</integer>
		<key>Z.alt</key>
		<integer>-16</integer>
		<key>Z.ss02</key>
		<integer>-131</integer>
		<key>a</key>
		<integer>-200</integer>
		<key>asciicircum</key>
		<integer>-78</integer>
		<key>b.alt</key>
		<integer>-100</integer>
		<key>e</key>
		<integer>-200</integer>
		<key>e.ss02</key>
		<integer>-131</integer>
		<key>four.alt</key>
		<integer>-224</integer>
		<key>greater</key>
		<integer>-202</integer>
		<key>less</key>
		<integer>-216</integer>
		<key>longs</key>
		<integer>-109</integer>
		<key>numero</key>
		<integer>-82</integer>
		<key>public.kern2.C</key>
		<integer>-153</integer>
		<key>public.kern2.E</key>
		<integer>-169</integer>
		<key>public.kern2.E.alt</key>
		<integer>-25</integer>
		<key>public.kern2.E.ss02</key>
		<integer>-113</integer>
		<key>public.kern2.G</key>
		<integer>-126</integer>
		<key>public.kern2.G.alt</key>
		<integer>-162</integer>
		<key>public.kern2.M</key>
		<integer>-168</integer>
		<key>public.kern2.M.ss02</key>
		<integer>-140</integer>
		<key>public.kern2.O</key>
		<integer>-144</integer>
		<key>public.kern2.P.ss02</key>
		<integer>-57</integer>
		<key>public.kern2.Q.ss03</key>
		<integer>-77</integer>
		<key>public.kern2.Y.ss03</key>
		<integer>-43</integer>
		<key>public.kern2.a</key>
		<integer>-177</integer>
		<key>public.kern2.a.alt</key>
		<integer>-163</integer>
		<key>public.kern2.at</key>
		<integer>-149</integer>
		<key>public.kern2.c</key>
		<integer>-145</integer>
		<key>public.kern2.c_e</key>
		<integer>-136</integer>
		<key>public.kern2.exclam</key>
		<integer>-263</integer>
		<key>public.kern2.f.alt</key>
		<integer>-83</integer>
		<key>public.kern2.four</key>
		<integer>-206</integer>
		<key>public.kern2.h.final</key>
		<integer>-72</integer>
		<key>public.kern2.i</key>
		<integer>-122</integer>
		<key>public.kern2.j</key>
		<integer>-141</integer>
		<key>public.kern2.m.fina</key>
		<integer>-186</integer>
		<key>public.kern2.v</key>
		<integer>-199</integer>
		<key>public.kern2.x</key>
		<integer>-166</integer>
		<key>s</key>
		<integer>-160</integer>
		<key>semicolon</key>
		<integer>-151</integer>
		<key>seven</key>
		<integer>-243</integer>
		<key>t</key>
		<integer>-140</integer>
		<key>three.alt</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-200</integer>
		<key>y</key>
		<integer>-157</integer>
		<key>z</key>
		<integer>-198</integer>
	</dict>
	<key>longs_longs</key>
	<dict>
		<key>A.ss03</key>
		<integer>-66</integer>
		<key>F</key>
		<integer>-124</integer>
		<key>F.alt</key>
		<integer>-87</integer>
		<key>R</key>
		<integer>-26</integer>
		<key>S.alt</key>
		<integer>-65</integer>
		<key>S.ss02</key>
		<integer>-113</integer>
		<key>U.ss02</key>
		<integer>-223</integer>
		<key>Z.ss02</key>
		<integer>-93</integer>
		<key>asciicircum</key>
		<integer>-58</integer>
		<key>b.alt</key>
		<integer>-35</integer>
		<key>e.ss02</key>
		<integer>-99</integer>
		<key>four.alt</key>
		<integer>-191</integer>
		<key>greater</key>
		<integer>-167</integer>
		<key>less</key>
		<integer>-180</integer>
		<key>longs</key>
		<integer>-71</integer>
		<key>numero</key>
		<integer>-53</integer>
		<key>public.kern2.C</key>
		<integer>-120</integer>
		<key>public.kern2.E</key>
		<integer>-135</integer>
		<key>public.kern2.E.ss02</key>
		<integer>-78</integer>
		<key>public.kern2.G</key>
		<integer>-92</integer>
		<key>public.kern2.G.alt</key>
		<integer>-128</integer>
		<key>public.kern2.M</key>
		<integer>-136</integer>
		<key>public.kern2.M.ss02</key>
		<integer>-106</integer>
		<key>public.kern2.O</key>
		<integer>-112</integer>
		<key>public.kern2.Q.ss03</key>
		<integer>-38</integer>
		<key>public.kern2.a</key>
		<integer>-144</integer>
		<key>public.kern2.a.alt</key>
		<integer>-131</integer>
		<key>public.kern2.at</key>
		<integer>-117</integer>
		<key>public.kern2.c</key>
		<integer>-112</integer>
		<key>public.kern2.c_e</key>
		<integer>-104</integer>
		<key>public.kern2.exclam</key>
		<integer>-226</integer>
		<key>public.kern2.f.alt</key>
		<integer>-49</integer>
		<key>public.kern2.four</key>
		<integer>-171</integer>
		<key>public.kern2.h.final</key>
		<integer>-9</integer>
		<key>public.kern2.i</key>
		<integer>-89</integer>
		<key>public.kern2.j</key>
		<integer>-109</integer>
		<key>public.kern2.m.fina</key>
		<integer>-153</integer>
		<key>public.kern2.v</key>
		<integer>-166</integer>
		<key>public.kern2.x</key>
		<integer>-134</integer>
		<key>semicolon</key>
		<integer>-120</integer>
		<key>seven</key>
		<integer>-208</integer>
		<key>three.alt</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-126</integer>
		<key>z</key>
		<integer>-166</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>a</key>
		<integer>-70</integer>
	</dict>
	<key>p.alt</key>
	<dict>
		<key>a</key>
		<integer>-44</integer>
	</dict>
	<key>p_e</key>
	<dict>
		<key>r</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>s.fina</key>
		<integer>-100</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
	</dict>
	<key>r.alt</key>
	<dict>
		<key>a</key>
		<integer>-60</integer>
	</dict>
	<key>seven.alt</key>
	<dict>
		<key>four.alt</key>
		<integer>-120</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>t</key>
		<integer>-50</integer>
		<key>t.alt</key>
		<integer>-50</integer>
	</dict>
	<key>t.alt</key>
	<dict>
		<key>e</key>
		<integer>-1</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
