<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.alt</key>
	<string>A_.alt.glif</string>
	<key>A.ss02</key>
	<string>A_.ss02.glif</string>
	<key>A.ss03</key>
	<string>A_.ss03.glif</string>
	<key>B.alt</key>
	<string>B_.alt.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.alt</key>
	<string>C_.alt.glif</string>
	<key>C.ss02</key>
	<string>C_.ss02.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dinsular</key>
	<string>D_insular.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.alt</key>
	<string>E_.alt.glif</string>
	<key>E.ss02</key>
	<string>E_.ss02.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.alt</key>
	<string>F_.alt.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.alt</key>
	<string>G_.alt.glif</string>
	<key>G.ss02</key>
	<string>G_.ss02.glif</string>
	<key>H.alt</key>
	<string>H_.alt.glif</string>
	<key>K.alt</key>
	<string>K_.alt.glif</string>
	<key>K.ss02</key>
	<string>K_.ss02.glif</string>
	<key>K.ss03</key>
	<string>K_.ss03.glif</string>
	<key>K.ss04</key>
	<string>K_.ss04.glif</string>
	<key>K.ss05</key>
	<string>K_.ss05.glif</string>
	<key>M.alt</key>
	<string>M_.alt.glif</string>
	<key>M.ss02</key>
	<string>M_.ss02.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>N.alt</key>
	<string>N_.alt.glif</string>
	<key>N.ss02</key>
	<string>N_.ss02.glif</string>
	<key>N.ss03</key>
	<string>N_.ss03.glif</string>
	<key>N.ss04</key>
	<string>N_.ss04.glif</string>
	<key>N.ss05</key>
	<string>N_.ss05.glif</string>
	<key>NameMe.65550</key>
	<string>N_ameM_e.65550.glif</string>
	<key>NameMe.65551</key>
	<string>N_ameM_e.65551.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.alt</key>
	<string>O_.alt.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.alt</key>
	<string>P_.alt.glif</string>
	<key>P.ss02</key>
	<string>P_.ss02.glif</string>
	<key>P.ss03</key>
	<string>P_.ss03.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt</key>
	<string>Q_.alt.glif</string>
	<key>Q.ss02</key>
	<string>Q_.ss02.glif</string>
	<key>Q.ss03</key>
	<string>Q_.ss03.glif</string>
	<key>Q.ss04</key>
	<string>Q_.ss04.glif</string>
	<key>Q.ss05</key>
	<string>Q_.ss05.glif</string>
	<key>Qsplash</key>
	<string>Q_splash.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt</key>
	<string>R_.alt.glif</string>
	<key>R.ss02</key>
	<string>R_.ss02.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.alt</key>
	<string>S_.alt.glif</string>
	<key>S.ss02</key>
	<string>S_.ss02.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>S.ss04</key>
	<string>S_.ss04.glif</string>
	<key>S.ss05</key>
	<string>S_.ss05.glif</string>
	<key>T.alt</key>
	<string>T_.alt.glif</string>
	<key>U.alt</key>
	<string>U_.alt.glif</string>
	<key>U.ss02</key>
	<string>U_.ss02.glif</string>
	<key>V.alt</key>
	<string>V_.alt.glif</string>
	<key>V.ss02</key>
	<string>V_.ss02.glif</string>
	<key>V.ss03</key>
	<string>V_.ss03.glif</string>
	<key>W.alt</key>
	<string>W_.alt.glif</string>
	<key>W.ss02</key>
	<string>W_.ss02.glif</string>
	<key>W.ss03</key>
	<string>W_.ss03.glif</string>
	<key>W.ss04</key>
	<string>W_.ss04.glif</string>
	<key>Y.alt</key>
	<string>Y_.alt.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Y.ss03</key>
	<string>Y_.ss03.glif</string>
	<key>Y.ss04</key>
	<string>Y_.ss04.glif</string>
	<key>Z.alt</key>
	<string>Z_.alt.glif</string>
	<key>Z.ss02</key>
	<string>Z_.ss02.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.alt</key>
	<string>b.alt.glif</string>
	<key>b.ss02</key>
	<string>b.ss02.glif</string>
	<key>b.ss03</key>
	<string>b.ss03.glif</string>
	<key>b_b</key>
	<string>b_b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bar.alt</key>
	<string>bar.alt.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.alt</key>
	<string>c.alt.glif</string>
	<key>c.ss02</key>
	<string>c.ss02.glif</string>
	<key>c_e</key>
	<string>c_e.glif</string>
	<key>c_o</key>
	<string>c_o.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.alt</key>
	<string>d.alt.glif</string>
	<key>dinsular</key>
	<string>dinsular.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.alt</key>
	<string>e.alt.glif</string>
	<key>e.ss02</key>
	<string>e.ss02.glif</string>
	<key>e.ss03</key>
	<string>e.ss03.glif</string>
	<key>e.ss04</key>
	<string>e.ss04.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.alt</key>
	<string>eight.alt.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>et</key>
	<string>et.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.alt</key>
	<string>f.alt.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_i</key>
	<string>f_i.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>f_r</key>
	<string>f_r.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.alt</key>
	<string>five.alt.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.alt</key>
	<string>four.alt.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>g.ss02</key>
	<string>g.ss02.glif</string>
	<key>g_g</key>
	<string>g_g.glif</string>
	<key>glyph237</key>
	<string>glyph237.glif</string>
	<key>glyph85</key>
	<string>glyph85.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.alt</key>
	<string>h.alt.glif</string>
	<key>h.final</key>
	<string>h.final.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.alt</key>
	<string>i.alt.glif</string>
	<key>i.ss02</key>
	<string>i.ss02.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.alt</key>
	<string>k.alt.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.alt</key>
	<string>l.alt.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>longs_longs</key>
	<string>longs_longs.glif</string>
	<key>longs_longs_i</key>
	<string>longs_longs_i.glif</string>
	<key>longs_t</key>
	<string>longs_t.glif</string>
	<key>longs_t_o</key>
	<string>longs_t_o.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.alt</key>
	<string>m.alt.glif</string>
	<key>m.fina</key>
	<string>m.fina.glif</string>
	<key>m.ss03</key>
	<string>m.ss03.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.alt</key>
	<string>n.alt.glif</string>
	<key>n.ss03</key>
	<string>n.ss03.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.alt</key>
	<string>nine.alt.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.alt</key>
	<string>o.alt.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.alt</key>
	<string>one.alt.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.alt</key>
	<string>p.alt.glif</string>
	<key>p_e</key>
	<string>p_e.glif</string>
	<key>p_p</key>
	<string>p_p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.alt</key>
	<string>parenleft.alt.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.alt</key>
	<string>parenright.alt.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.alt</key>
	<string>q.alt.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.alt</key>
	<string>question.alt.glif</string>
	<key>question.ss02</key>
	<string>question.ss02.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.alt</key>
	<string>r.alt.glif</string>
	<key>rrotunda</key>
	<string>rrotunda.glif</string>
	<key>rrumrotunda</key>
	<string>rrumrotunda.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.alt</key>
	<string>s.alt.glif</string>
	<key>s.fina</key>
	<string>s.fina.glif</string>
	<key>s.ss02</key>
	<string>s.ss02.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.alt</key>
	<string>seven.alt.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.alt</key>
	<string>six.alt.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.alt</key>
	<string>t.alt.glif</string>
	<key>t.ss02</key>
	<string>t.ss02.glif</string>
	<key>t_h</key>
	<string>t_h.glif</string>
	<key>t_i</key>
	<string>t_i.glif</string>
	<key>t_r</key>
	<string>t_r.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt</key>
	<string>three.alt.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.alt</key>
	<string>two.alt.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.alt</key>
	<string>u.alt.glif</string>
	<key>u.ss03</key>
	<string>u.ss03.glif</string>
	<key>unie8bf</key>
	<string>unie8bf.glif</string>
	<key>unif1a6</key>
	<string>unif1a6.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.alt</key>
	<string>v.alt.glif</string>
	<key>v.ss02</key>
	<string>v.ss02.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.alt</key>
	<string>w.alt.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.alt</key>
	<string>x.alt.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yinit</key>
	<string>yinit.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.alt</key>
	<string>z.alt.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt</key>
	<string>zero.alt.glif</string>
</dict>
</plist>
